{erl_opts, [debug_info]}.
{deps, [
  {iso8601, "1.3.1"},
  {jiffy, "1.0.1"},
  {gen_smtp, "0.14.0"},
  {parse_trans, "3.0.0"},
  {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.6.3"}}},
  {cowlib, {git, "https://github.com/ninenines/cowlib", {tag, "2.7.3"}}},
  {erlydtl, {git, "git://github.com/erlydtl/erlydtl", {branch, master}}},
  {enacl, {git, "git://github.com/ecrownoffire/enacl", {branch, xchacha}}}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [erlapp]}
]}.